* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0762eb;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

.card {
  background: white;
  border-radius: 18px;
  padding: 35px;
  margin-bottom: 25px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.card h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
}

.card input {
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 20px;
}

.card input:focus {
  outline: none;
  border-color: #1b74e4;
}

.save-btn {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background: #31c458;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background: #28b04d;
}

.menu-card {
  text-align: center;
  cursor: pointer;
}

.menu-card h3 {
  color: #1b74e4;
  font-size: 30px;
  margin: 10px 0;
  font-weight: 600;
}

.menu-card:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}